snippet template "AdLab Template" b
\documentclass[aps,prb,twocolumn,groupedaddress,nofootinbib,floatfix]{revtex4}
\usepackage{graphicx}
\usepackage{graphics}
\usepackage{epsfig}
\usepackage{url}
\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}
\usepackage{textcomp}
\usepackage{amsmath, amssymb}
\usepackage[${2:at}]{easylist}
\usepackage{soul}

\pdfsuppresswarningpagegroup=1

\begin{document}
$0
endsnippet

# vim:ft=snippets
